.btn {
  background-color: #877eed;
  border-radius: 24px;
  padding: 16px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: #ffff;
  cursor: pointer;
}

.btn:hover {
  background-color: #544acb;
}
